@model IEnumerable<SoftGenTest.Repository.Models.StudentTbGroupTb>

@{
    ViewData["Title"] = "Index";
}

<h1>Students in Group</h1>

<p>
    <a asp-action="AddNewStudent">Add New Student </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Group)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Group.GroupName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.Name)
                </td>
                <td>|
                    <a asp-action="DeleteStudentFromGroup" asp-route-id="@item.Id">Delete</a>
                </td>
                
            </tr>
        }
    </tbody>
</table>
